@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-success ps-5 mb-5">
                    <h1 class="display-5 text-uppercase text-white mb-0">HỆ THỐNG HỌC TẬP TRỰC TUYẾN HIỆU QUẢ</h1>
                </div>
                <p class="text-white mb-4">OLS là hệ thống học tập và làm bài thi trực tuyến dành cho các trường học. Ở đây giáo viên và học sinh có thể tương tác với nhau một cách thuận tiện để việc học tập trở nên dễ dàng hơn.</p>
                <a href="" class="btn btn-success py-md-3 px-md-5 me-3">THAM GIA NGAY</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->