@page
@model OnlineLearningSystem.Pages.ClassStudents.StudentListModel
@{
}

<h1 class="mb-3 mt-4">Danh sách học sinh</h1>

<p class="mb-4">
    <a asp-page="Create" class="btn btn-success"><i class="fa fa-plus me-2"></i>Create New</a>
</p>


<table id="studenListTbl" class="display w-100">
    <thead>
        <tr>
            <th>User name</th>
            <th>Full name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>